/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=DotGothic16&family=Courgette&display=swap');

/*Variables css*/
:root {
    --header-height: 3rem;

    /*========== Colors ==========*/

    /* Color mode HSL(hue, saturation, lightness) */
    --hue: 0;
    --sat: 0%;
    --title-color: hsl(var(--hue), var(--sat), 30%);
    --title-color-dark: hsl(var(--hue), var(--sat), 0%);
    --text-color: hsl(var(--hue), var(--sat), 46%);
    --body-color: hsl(var(--hue), var(--sat), 98%);
    --hover-pixel: #6ee7b7;
    --container-color: #fff;

    /*========== Font and typography ==========*/

    /*Fonts*/
    --body-font: "Poppins", sans-serif;
    --pixel-font: "DotGothic16", sans-serif;
    --handwriting-font : "Courgette", sans-serif;

    /*  Static font size .5rem = 8px | 1rem = 16px */
    --big-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
    --tiny-font-size: 0.625rem;

    /* Dynamic font size */
    --fs-200: clamp(0.78rem, calc(0.71rem + 0.35vw), 0.96rem);
    --fs-300: clamp(0.94rem, calc(0.84rem + 0.51vw), 1.2rem);
    --fs-400: clamp(1.13rem, calc(0.98rem + 0.73vw), 1.5rem);
    --fs-500: clamp(1.94rem, calc(1.56rem + 1.92vw), 2.93rem);
    --fs-600: clamp(2.8rem, calc(2.11rem + 3.47vw), 4.58rem);

    /* Personal variables */
    --lh-1: 1;
    --lh-1-1: 1.1;
    --lh-1-4: 1.4;

    /* Font weight */
    --font-normal: 400;
    --font-medium: 500;
    --font-semi-bold: 600;

    /*Colors*/
    --accent: 142 100% 20%;
    --bkg: 190 60% 98%;
    --text: 185 26% 9%;
    --muted: 183 8% 55%;
    --light: 180 14% 82%;
    --warning: 142 100% 20%;

    /*========== Margenes Bottom ==========*/

    /*.5rem = 8px | 1rem = 16px ...*/
    --mb-0-25: 0.25rem;
    --mb-0-5: 0.5rem;
    --mb-0-75: 0.75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*Utils*/
    --space-xs: 8px;
    --space-sm: 16px;
    --space-md: 24px;
    --space-lg: 32px;
    --space-xl: 40px;
    --content-sm: 40ch;
    --content: 60ch;
    --round-sm: 4px;
    --round-md: 10px;
    --round-lg: 25px;
    --round-full: 100vmax;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;

    /* toast customizations */
    --toastify-color-success: hsl(var(--accent));
}

/* Responsive typography */
@media screen and (max-width: 992px) {
    :root {
        --big-font-size: 2.75rem;
        --h1-font-size: 1.5rem;
        --h2-font-size: 1.25rem;
        --h3-font-size: 1rem;
        --normal-font-size: 0.938rem;
        --small-font-size: 0.813rem;
        --smaller-font-size: 0.75rem;
    }
}


/*Base*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body,
button,
input,
textarea {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body {
    background-color: #fff;
    color: var(--text-color);
}

h1, h2, h3 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

/*Reusable css classes*/
.section {
    padding: 6rem 0 2rem;
}

.section__title {
    font-size: var(--h1-font-size);
    color: var(--title-color);
}

.section__subtitle {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: 4rem;
}

.section__title,
.section__subtitle {
    text-align: center;
}

/*Layout*/
.container {
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

/*Buttons*/
.button {
    display: inline-block;
    background-color: var(--title-color);
    color: var(--container-color);
    padding: 1.25rem 2rem;
    border-radius: 1rem;
    font-weight: var(--font-medium);
}

/*.button:hover {*/
/*    background-color: var(--title-color-dark);*/
/*}*/

.button__icon {
    margin-left: var(--mb-0-5);
}

.button--flex {
    display: inline-flex;
    align-items: center;
}

/*Breakpoints*/

/*Large devices*/
@media screen and (max-width: 992px) {
    .container {
        margin-left: var(--mb-1-5);
        margin-right: var(--mb-1-5);
    }
}

/*Medium devices*/
@media screen and (max-width: 768px) {

}

@media screen and (max-width: 576px) {

}

/*Small devices*/
@media screen and (max-width: 350px) {
    .container {
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }
}